<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/nav'); %>

    <h1><%= title %></h1>

    <ul>
      <% item_list.forEach(item => { %>
        <li><a href=<%=item.url%>><%=item.name%></a></li>
      <% }) %>
    </ul>
    
    <a href="/inventory/item/create">New Item</a>
    
  </body>
</html>