<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/nav'); %>

    <h1><%= title %></h1>

    <h2><%= item.name %></h2>
    <p> <strong>Description: </strong> <%= item.description %></p>
    <p> <strong>Category: </strong><a href=<%= item.category.url %>><%= item.category.name %></a></p>
    <p> <strong>Price: </strong> <%= item.price %></p>
    <p> <strong>Number in Stock: </strong> <%= item.number_in_stock %></p>
    
  </body>
</html>